# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/

# Environment Variables
.env

# Databases
*.db

# Python Packaging
*.egg-info/
.eggs/

# Test Coverage
.pytest_cache/
.coverage
htmlcov/

# Type Checking
.mypy_cache/

# Linting
.ruff_cache/

# Node
node_modules/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build
dist/
build/